.background {
    -fx-background-color: white;
}

.table-view {
    -fx-base: #ededed;
    -fx-control-inner-background: white;
    -fx-background-color: #ededed;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 20;
    -fx-border-color: transparent transparent derive(-fx-base, 80%) transparent;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
    -fx-border-color: #000000;
    -fx-border-width: 1;
}

.table-row-cell:filled {
    -fx-font-family: "Arial";
}

.table-row-cell:odd:filled {
    -fx-background-color: white;
}

.table-row-cell:odd:filled:hover {
    -fx-background-color: #f5f5f5;
}

.table-row-cell:hover {
    -fx-background-color: #f5f5f5;
    -fx-alternative-column-fill-visible: false;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #267cb7;
    -fx-border-color: transparent;
    -fx-alternative-column-fill-visible: false;
    -fx-alternative-row-fill-visible: false;
    -fx-selection-bar: #267cb7;
}

.folder {
    -fx-text-fill: #ead7a5;
    -fx-effect: dropshadow(one-pass-box, black, 3, 0, 0, 0);
}
