.background {
    -fx-background-color: white;
}

.table-view {
    -fx-base: white;
    -fx-control-inner-background: white;
    -fx-background-color: white;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 20;
    -fx-border-color: transparent transparent derive(-fx-base, 80%) transparent;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
    -fx-border-color: #000000;
}

.table-row-cell:filled {
    -fx-font-family: "Arial";
}

.table-row-cell:odd:filled {
    -fx-background-color: white;
}

.table-row-cell:odd:filled:hover {
    -fx-background-color: #f5f5f5;
}

.table-row-cell:hover {
    -fx-background-color: #f5f5f5;
    -fx-alternative-column-fill-visible: false;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #252525;
    -fx-border-color: transparent;
    -fx-alternative-column-fill-visible: false;
    -fx-alternative-row-fill-visible: false;
    -fx-selection-bar: #252525;;
}

.folder {
    -fx-text-fill: #ead7a5;
    -fx-effect: dropshadow(one-pass-box, black, 3, 0, 0, 0);
}

.account-icon {
    -fx-effect: innershadow(gaussian, #267cb7, 7, 1, 1, 1);
}
