.table-row-cell:empty {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.table-row-cell:empty:hover {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-row-cell:odd:filled {
    -fx-background-color: -fx-table-cell-border-color, derive(-fx-control-inner-background, -5%);
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:hover {
    -fx-background-color: #d0d0d0;
    -fx-text-fill: #ffffff;
    -fx-alternative-column-fill-visible: false;
}

/* Selected row when table focused */
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: steelblue;
    -fx-selection-bar: steelblue;
    /*-fx-background-color:*/
        /*linear-gradient(steelblue 0%, lightsteelblue 20%, white 100%),*/
        /*linear-gradient(steelblue 0%, white 50%),*/
        /*linear-gradient(white 0%, lightsteelblue 20%, steelblue 100%);*/
    /*-fx-background-color: linear-gradient(steelblue 0%, lightsteelblue 10%, white 20%, white 80%, lightsteelblue 90%, steelblue 100%);*/
    -fx-border-width: 0;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

/* Selected row when table not focused */
.table-row-cell:filled:focused:selected {
    -fx-background-color: transparent;
    -fx-border-color: inherit;
    -fx-border-width: 0;
}

/* Selected marked row when table focused*/
.table-view:focused .table-row-cell:filled:focused:selected .table-row-marked {
    -fx-border-width: 0;
    -fx-background: -fx-accent;
    -fx-alternative-row-fill-visible: false
}

/* Selected marked row when table not focused */
.table-row-cell:filled:focused:selected .table-row-marked  {
    -fx-text-fill: red;
    -fx-background-color: transparent;
    -fx-border-color: inherit;
    -fx-border-width: 0;
}

.table-row-marked {
    -fx-text-fill: red;
}

.table-row-shared {
    -fx-font-weight: bold;
}

