.table-row-cell:empty {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.table-row-cell:empty:hover {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.table-row-cell:odd:filled:focused:selected {
    -fx-background-color: -fx-table-cell-border-color, derive(-fx-control-inner-background, -5%);
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:hover {
    -fx-background-color: #d0d0d0;
    -fx-text-fill: #ffffff;
    -fx-alternative-column-fill-visible: false;
}

/* Selected row when table focused */
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: steelblue;
    -fx-border-width: 0;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

/* Selected row when table not focused */
.table-row-cell:filled:focused:selected {
    -fx-background-color: transparent;
    -fx-border-color: inherit;
    -fx-border-width: 0;
}

/* Selected marked row when table focused*/
.table-view:focused .table-row-cell:filled:focused:selected .table-row-marked {
    /*-fx-background-color: #ED4040;*/
    /*-fx-effect: dropshadow( gaussian , black , 0,0,0,0 );*/
    /*-fx-background-color:
            linear-gradient(#f2f2f2, #d6d6d6),
            linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
            linear-gradient(#dddddd 0%, #f6f6f6 50%);*/
    -fx-border-width: 0;
    -fx-background: -fx-accent;
    -fx-alternative-row-fill-visible: false
}

/* Selected marked row when table not focused */
.table-row-cell:filled:focused:selected .table-row-marked  {
    -fx-text-fill: red;
    -fx-background-color: transparent;
    -fx-border-color: inherit;
    -fx-border-width: 0;
}

.table-row-marked {
    -fx-text-fill: red;
}

.table-row-shared {
    /*-fx-text-fill: green;*/
    /*-fx-background-color: #BBCC90;*/
    -fx-background-color: #CFDBBB;
    -fx-border-width: 0;
}

.table-view:focused .table-row-cell:filled:focused:selected .table-row-shared {
    /*-fx-background-color: #9AAD79;*/
    /*-fx-background-color: #7BB446;*/
    -fx-background-color: #97B446;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-border-width: 0;
    -fx-background: -fx-accent;
}

/* Selected shared marked row when table focused*/
.table-view:focused .table-row-cell:filled:focused:selected .table-row-shared .table-row-marked {
    -fx-text-fill: red;
}
