.label {
    -fx-effect: innershadow(gaussian, steelblue, 7, 1, 1, 1);
}

.label-selected {
    -fx-effect: innershadow(gaussian, white , 7, 1, 1, 1);
}

.label:pressed {
    -fx-effect: innershadow(gaussian, lightskyblue, 7, 1, 1, 1);
}
